
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
    height: 100%; /* Full viewport height */
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #673AB7, #2B1B5A);
    padding: 10px;
}

.container h1{
    color: #fff; /* White text color */
    text-align: center; /* Center align text */
    margin: 20px 0; /* Margin around h1 elements */
    font-size: 50px;
}

.minibox{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    max-width: 800px;
    height: 300px;
}

/* all titles in the container have the same styling */
.minibox h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}



.personalBest{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 40px;
}


.personalBest button.Play{
    border: none;
    outline: none;
    background-color: rgb(19, 204, 19);
    border-radius: 40px;
    color: #fff;
    width: 200px;
    height: 80px;
    font-size: 50px;
    margin-top: 20px;
    cursor: pointer;
}

.personalBest button.Settings{
    border: none;
    outline: none;
    background-color: rgb(211, 28, 28);
    border-radius: 20px;
    color: #fff;
    width: 150px;
    height: 40px;
    font-size: 25px;
    margin-top: 20px;
    cursor: pointer;
}

.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #f44336; /* Red background color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000; /* Ensure the button is on top of other elements */
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* Fix position on the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.timer{
    font-size: 50px;
    text-align: center;
    z-index: 1000;
    color: #fff;
}

.timerGameDiv{
    display: flex;
    justify-content: center;
    align-items: center; /* Center items horizontally */
    flex-direction: column; /* Stack items vertically */
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 200px;
    height: auto; /* Adjust height to auto to fit content */
    color: #fff;
    font-size: 24px;
    z-index: 1000;
}

.timerGame{
    font-size: 50px;
    text-align: center;
    z-index: 1000;
    color: #fff;
    margin-bottom: 10px; /* Add margin to separate the timer and score */
}

.endGameContainer{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    top: 0;
    left: 0;
    transform: translate(+50%, +50%); /* allign to center */
    width: 50%;
    height: 50%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.endGameText{
    font-size: 50px;
    text-align: center;
    margin-top: 30px;
    z-index: 1000;
    color: black;
}

.score{
    font-size: 20px;
    z-index: 1000;
    color: #fff;
    text-align: center;
    position: relative;
}

.scoreNumber{
    font-size: 40px;
    z-index: 1000;
    margin-top: 50px;
    text-align: center;
    color: black;
}

.playAgain{
    border: none;
    outline: none;
    background-color: rgb(19, 204, 19);
    border-radius: 40px;
    color: #fff;
    text-align: center;
    width: 200px;
    height: 40px;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
}